html, body {border: 0; margin: 0; padding: 0;}

body {
  	font: 85%/0.9 arial, helvetica, sans-serif;
	font-size: 0.85em;
  	line-height: 130%;
  	width: 100%;
  	min-width: 970px;
  	color: white;
        background:#0d0d0d url(../images/html.png) repeat-x fixed !important;
}

p {
        margin: 4px;
}

a {
	color: #15ADFF;
	text-decoration: none;
}

a:hover {
	color: white;
}

a img {
  border: none;
}

h1 {
	font-size: 1.6em;
	color: white;
}

h2 {
	font-size: 1.3em;
	color: white;
}

.highlight {background-color:#FF9D9D;border-bottom:#F30 1px solid;border-top:#F30 1px solid;padding: 4px 10px}

.body-container {
        margin-top: 50px;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        align: center;
        vertical-align: top;
}

.body-content {
        margin: auto;
        width: 70%;
        align: center;
        vertical-align: top;
}

.body-content > iframe{
    display: none;
}

.table-styler {
        z-index: 2;
        border: 1px solid #000;
	-moz-border-radius-topleft: 5px; /* Per firefox */
	-moz-border-radius-topright: 5px; /* Per firefox */
	-webkit-border-top-right-radius: 5px; /* Safari e Chrome*/
	-webkit-border-top-left-radius: 5px; /* Safari e Chrome*/
	border-top-left-radius: 5px; /* Standard CSS */
	border-top-right-radius: 5px; /* Standard CSS */
}

.table-content {
       margin: 0;
       text-align: left;
       color:#ffffff;
       z-index: 1;
       padding-top: 0px;
       width: 100%;
}

.table-content thead{
        height: 100%;
        width: 100%;
        background: #272727 url(../images/thead.png) repeat-x;
        background-position: bottom;
}

.table-content td{
        padding-left: 5px !important;
		padding-right: 5px !important;
}

.table-subhead {
       //background: #0F0F0F;
       background-color: #000;
       filter: alpha (opacity=80);
       opacity: 0.8;
       background-image: url(../images/subhead.png);
       background-repeat: no-repeat;
       background-position: 3px 3px;
       font-weight: bold;
       //border: 1px solid #000;
}

.table-row {
       //border: 1px solid #000;
       background: #444444;
       opacity: 0.6;
       filter:alpha(opacity=60);
       padding-bottom: 5px;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.spoiler
{
    border: 0px;
    padding:3px;
}

.spoiler span {
	margin-right: 4px;
}

.spoiler a {
   font-weight: bold;
   cursor: pointer;
}

.spoiler .inner {
    background: #1D1D1D;
    border:1px solid #eee;
    padding:3px;
    margin:3px;
}

.spoiler .inner a {
   font-weight: normal;   
}

.toround {
        z-index: 2;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.downloadlist-tabbed li {
	border-top: 1px solid white;
}

.downloadlist-default {
	border-bottom: 1px solid white;
}

.downloadlist-default li {
	border-top: 1px solid white;
}

.downloadlist-box {
	border: 3px solid white;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.innerdiv {
    background: #1D1D1D;
    border:1px solid #eee;
    padding:3px;
    margin:3px;
}

.innerdiv a {
   font-weight: normal;   
}


.downloadlist-box li {
	border-top: 1px solid white;
}

.downloadlist-box li:first-child {
	border-top: 0;
}