<div class="table-styler shadow">
<table class="table-content">
<thead>
<tr>
  <td>
    <h1>Houston, we have a problem</h1>
  </td>
</tr>
</thead>
<tbody>
<tr>
 <td class="table-subhead">
   <p>~ Error 404 - Page not found</p>
 </td>
</tr>
<tr>
 <td class="table-row">
   <p>We are sorry but the page you are looking for does not exists.<br/>If you've reached this page by following a link, please, contact the site administrators.</p>
 </td>
</tr>
</tbody>
</table>
</div>
<br/>