<div class="table-styler shadow">
<table class="table-content">
<thead>
<tr>
  <td>
    <h1>Houston, we have a problem</h1>
  </td>
</tr>
</thead>
<tbody>
<tr>
 <td class="table-subhead">
   <p>~ Error 500 - Internal Server Error</p>
 </td>
</tr>
<tr>
 <td class="table-row">
   <p>We are sorry but we have some problem on the Server.<br/>Please, contact the site administrator and be patient, we will fix this error as soon as possible.</p>
 </td>
</tr>
</tbody>
</table>
</div>
<br/>