<div class="table-styler shadow">
<table class="table-content">
<thead>
<tr>
  <td>
    <h1>QS3 | Downloads</h1>
  </td>
</tr>
</thead>

<tbody>
<tr>
 <td class="table-subhead">
   <div id="tabmenucontainer">
     <ul class="tabmenumenu">
		<li id="tabP1" class="active">CQE</li>
		<li id="tabP2">Languages</li>
        <li id="tabP3">Patches</li>
        <li id="tabP4">Plugins</li>
     </ul>
   </div>
 </td>
</tr>

<tr>
 <td class="table-row">
    <div class="tabmenucontent tabP1">
       <h2>Category » Custom Quest Editor</h2>
       <downloadlist style="tabbed">
	    <download id="9" />
		<download id="1" />
		<download id="8" />
	   </downloadlist>
    </div>
    <div class="tabmenucontent tabP2">
       <h2>Category » CQE Language Packs</h2>
       <downloadlist style="tabbed">
		<download id="2" />
		<download id="3" />
		<download id="4" />
		<download id="5" />
	   </downloadlist>
    </div>
    <div class="tabmenucontent tabP3">
       <h2>Category » PSP Store Patcher</h2>
       <downloadlist style="tabbed">
		<download id="6" />
	   </downloadlist>
    </div>
    <div class="tabmenucontent tabP4">
       <h2>Category » PSP Plugins</h2>
       <downloadlist style="tabbed">
		<download id="7" />
	   </downloadlist>
    </div>
 </td>
</tr>
</tbody>

</table>
</div>
<br/>

