<!-- Js Includes -->
<script src="js/jquery-1.6.2.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
<script src="js/spoiler.js" type="text/javascript"></script>

<!-- Css Includes -->
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/slide.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/lateralmenu.css" type="text/css" />

<!-- Other Includes -->
