<div id="toppanel">
	<div id="panel">
		<div class="content clearfix">
			<div class="left">
                                <!-- PERSONAL AREA -->
				<h1>QS3 » Quest Stor3</h1>
				<h2> ~ The only limit is your imagination.</h2>		
				<p class="grey">New core, new graphic, new missions...</p>
				<p class="grey">Welcome to the next gen Custom Quest Store for Monster Hunter.</p>
			</div>
			<div class="left">
				<!-- Login Form -->
				<form class="clearfix" action="<!-- SELFPAGE -->" method="post">
					<h1>Member Login</h1>
					<label class="grey" for="user">Username:</label>
					<input class="field" type="text" name="user" id="user" value="" size="23" />
					<label class="grey" for="pwd">Password:</label>
					<input class="field" type="password" name="pwd" id="pwd" size="23" />
	            	<label><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" /> &nbsp;Remember me</label>
        			<div class="clear"></div>
					<input type="submit" name="sublogin" value="Login" class="bt_login" />
					<a class="lost-pwd" href="pwdlost.php">Lost your password?</a>
				</form>
			</div>
			<div class="left right">			
				<!-- Register Form -->
				<form action="<!-- SELFPAGE -->" method="post">
					<h1>Not a member yet? Sign Up!</h1>				
					<label class="grey" for="user">Username:</label>
					<input class="field" type="text" name="user" id="user" value="" size="23" />
					<label class="grey" for="pwd">Password:</label>
					<input class="field" type="password" name="pwd" id="pwd" size="23" />
					<label class="grey" for="email">Email:</label>
					<input class="field" type="text" name="email" id="email" size="23" />
                                        <input type="submit" name="subjoin" value="Register" class="bt_register" />
					<p class="tos">I accept the <a href="frame.php?p=tos">ToS</a></p>
				</form>
			</div>
		</div>
        </div> <!-- /login -->	

	<!-- The tab on top -->	
	<div class="tab">
		<ul class="login">
			<li class="left">&nbsp;</li>
			<li>Hello Guest!</li>
			<li class="sep">|</li>
			<li id="toggle">
			     <a id="open" class="open">Log In | Register</a>
			     <a id="close" style="display: none;" class="close">Close Panel</a>			
			</li>
			<li class="right">&nbsp;</li>
		</ul> 
	</div> <!-- / top -->
	
</div>