<div id="toppanel">
	<div id="panel" style="height: 200px;">
                <form name="logoutform" action="<!-- SELFPAGE -->" method="post"><a id="logoutlink" href="javascript:document.logoutform.submit()">Logout</a><input type="hidden" name="logoutchk" value="logoutchk" /></form>
		<div class="content clearfix">
			<div class="left">
                                <!-- Personal Area -->
				<h1>QS3 » Quest Stor3</h1>
				<h2> ~ <!-- USERNAME --></h2>
                                <p class="grey">Group: <!-- USERGROUP --></p><br/>
                                <p class="grey">Go to <a href="userpanel.php">User Panel</a></p>
                                <!-- STORE PANEL -->
                                <!-- ADMIN PANEL -->
			</div>
			<div class="left">
            	                <h1>You are banned!</h1>
                                <p class="grey">Banned by: <!-- BANNER --></p>
				<p class="grey">Explanation: <!-- BANMESSAGE --></p>
			</div>
			<div class="right">
            	                <h1>Something's wrong?</h1>
                                <p class="grey">Do you think that you were wrongly or accidentally banned?<br/>Please contact the site administrator.</p>
				<p class="grey">But don't worry, all your quests will not be deleted, except for special cases.</p>
			</div>
		</div>
        </div>

	<div class="tab">
		<ul class="login">
			<li class="left">&nbsp;</li>
			<li>Welcome back ~</li>
			<li id="toggle">
			     <a id="open" class="popen"><!-- USERNAME --></a>
			     <a id="close" style="display: none;" class="pclose"><!-- USERNAME --></a>			
			</li>
			<li class="right">&nbsp;</li>
		</ul> 
	</div>
	
</div>