<div id="toppanel">
	<div id="panel" style="height: 200px;">
		<form name="logoutform" action="<!-- SELFPAGE -->" method="post">
			<a id="logoutlink" href="javascript:document.logoutform.submit()">Logout</a>
			<input type="hidden" name="logoutchk" value="logoutchk" />
		</form>
		<div class="content clearfix">
			<div class="left">
				<h1>QS3 » Quest Stor3</h1>
				<h2> ~ <!-- USERNAME --></h2>
				<p class="grey">Group: <!-- USERGROUP --></p><br/>
				<p class="grey">Go to <a href="userpanel.php">User Panel</a></p>
				<!-- STORE PANEL -->
				<!-- ADMIN PANEL -->
			</div>
		<div class="left">
			<h1>Your Statistics</h1>
			<p class="grey">Quest Space: <!-- QUESTSPACE --></p>
			<p class="grey">Quest Total: <!-- QUESTTOTAL --></p>
			<p class="grey">Download Times: <!-- QUESTTOTAL --></p>
		</div>
		<div class="left right">
			<h1>Community</h1>
			<h2> ~ Share with us</h2>
			<ul style="list-style: disc inside;">
				<li>
					<a href="forum.php">Da Forum</a>
				</li>
				<li>
					<a href="store-index.php">Quest Store</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="tab">
	<ul class="login">
		<li class="left">&nbsp;</li>
		<li>Welcome back ~</li>
		<li id="toggle">
			<a id="open" class="popen"><!-- USERNAME --></a>
			<a id="close" style="display: none;" class="pclose"><!-- USERNAME --></a>
		</li>
		<li class="right">&nbsp;</li>
	</ul> 
</div>
	
</div>