<ul id="dock">
    <li id="links">
        <ul class="free">
            <li class="mheader"><h2 style="margin: 0;">~ Links</h2></li>
            <li class="melement"><a href="frame.php" class="ma"><b>Home</b></a></li>
            <li class="melement"><a href="download.php" class="ma"><b>Downloads</b></a></li>
            <li class="melement"><a href="faq.php" class="ma"><b>FAQ</b></a></li>
            <li class="melement"><a href="frame.php?p=stats" class="ma"><b>Statistics</b></a></li>
            <li class="melement"><a href="frame.php?p=contact" class="ma"><b>Contacts</b></a></li>
        </ul>
    </li>
	<!-- SPECIALMENU -->
</ul>