<div class="table-styler shadow">
<table class="table-content">
<thead>
<tr>
  <td>
    <h1>QS3 | Staff Contacts</h1>
  </td>
</tr>
</thead>
<tbody>
<tr>
 <td class="table-subhead">
   <p>~ Founder » Vanth</span></p>
 </td>
</tr>
<tr>
 <td class="table-row" style="padding-top: 5px;">
<img src="avatar/1.jpg" class="shadow" style="width: 15%; margin-right: 10px;" align="left" />
<p>Hi, I'm Davide Villa aka "Vanth". Maybye you can remeber me as "Dark Vlx" or "Lord Vlx".<br/>
At this time, I'm 21. I'm a certified .NET Developer and I've worked for an important "IT Services" Provider.<br/>
I was the only one programmer in the company so, I was involved in all most important projects.<br/>
One of us important client is the "RCS Group", an italian newsagent who prints all the most important newspaper and magazines in Italy.<br/>
We was providing them .NET Apps, Web Applications and also iPad/iPhone Apps.<br/>
Currently I'm working as developer of financial application for Banks.<br/>
Because of this project, I've talked to a lot of important people like codestation, Vuze and Coldbird.<br/>
Plus I've found some new good friend around the web.<br/>
Everyone, thank you very much!<br clear="all"/></p>
<p>Oh yeah, I'm also a good "God Eater Burst" player, if you want to take a look, you can follow me on:<br/><br/>
<div style="float: left;"><a href="http://www.youtube.com/user/D4rkVanth" target="_blank"><img src="images/icon-youtube.png" /></a> <a href="http://www.facebook.com/#!/DarkVanth" target="_blank"><img src="images/icon-facebook.png" /></a><br/></div>
<div style="float: left; padding-top: 5px; padding-left: 7px;"><i><b>Msn:</b></i> DarkVanth@msn.com<br/>
<i><b>Skype:</b></i> dark_vanth</div></p>
 </td>
</tr>
</tbody>
</table>
</div>